<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<!--	

	<appSettings>
		<add key="selectParent" value ="SELECT * FROM CLIENTS"/>
		<add key="selectChild" value="SELECT * FROM POSSESSIONS"/>
		<add key="parent" value="CLIENTS"/>
		<add key="child" value="POSSESSIONS"/>
		<add key="idChild" value="IdPossession"/>
		<add key="idParentinChildTable" value="IdClient"/>
		<add key="delete" value="DELETE FROM Possessions WHERE IdPossession = @Id"/>
		<add key="insert" value ="INSERT INTO Possessions (PossessionName, Price, City, IdClient) VALUES (@PossessionName, @Price, @City, @IdClient)"/>
		<add key="update" value="UPDATE Possessions SET PossessionName=@PossessionName, Price=@Price, City=@City, IdClient=@IdClient WHERE IdPossession=@IdPossession"/>
		<add key="pk" value="idClient"/>
		<add key="fk" value="idClient"/>
		<add key="childColumns" value="PossessionName/Price/City"/>
		<add key="childColumnsUpdate" value="PossessionName/Price/City/IdClient"/>
		<add key ="stringChildColumns" value ="PossessionName/City"/>
		<add key ="floatChildColumns" value="Price"/>
		<add key ="intChildColumns" value=""/>
	</appSettings>
	-->


	<appSettings>
		<add key="selectParent" value ="SELECT * FROM BRAND"/>
		<add key="selectChild" value="SELECT * FROM PRODUCTS"/>
		<add key="parent" value="BRAND"/>
		<add key="child" value="PRODUCTS"/>
		<add key="idChild" value="IdProduct"/>
		<add key="idParentinChildTable" value="ProductBrand"/>
		<add key="delete" value="DELETE FROM Products WHERE IdProduct = @Id"/>
		<add key="insert" value ="INSERT INTO Products(ProductName, Price, ProductCategory, ProductBrand) VALUES (@ProductName, @Price, @ProductCategory, @ProductBrand)"/>
		<add key="update" value ="UPDATE Products SET ProductName=@ProductName, Price=@Price, ProductCategory=@ProductCategory, ProductBrand=@ProductBrand WHERE IdProduct = @IdProduct"/>
		<add key="pk" value="idBrand"/>
		<add key="fk" value="ProductBrand"/>
		<add key="childColumns" value="ProductName/Price/ProductCategory"/>
		<add key="childColumnsUpdate" value="ProductName/Price/ProductCategory/ProductBrand"/>
		<add key ="stringChildColumns" value ="ProductName"/>
		<add key ="floatChildColumns" value ="Price"/>
		<add key ="intChildColumns" value="ProductCategory"/>
	</appSettings>



</configuration>